* {
    box-sizing: border-box;
  }

  .hidden {display: none;}
  
  section#people_section {
    padding: 20px;
    overflow: auto;
    text-align: center;
    margin-top: 0px;
    height: auto;
  }
  section#people_section .thumbnail {
    width: 160px;
    padding: 10px;
    background: #ddd;
    display: inline-block;
    text-align: center;
    margin: 0 5px 10px;
    border: 2px solid #ddd;
    cursor: pointer;
    transition: all 0.2s ease;
    vertical-align: top;
  }

  /*section#tiles .thumbnail:hover, section#tiles .thumbnail:focus {
    background: #ededed;
    border-color: #f39c12;
  }*/

  section#people_section .thumbnail.selected {
    background: #ededed;
    border: 4px solid #f39c12;    
  }

  section#people_section .thumbnail .pic {
    border-radius: 50%;
    overflow: hidden;
    width: 100%;
    height: 140px;
    margin: 10px auto 25px;
  }
  section#people_section .thumbnail .pic img {
    width: 140px;
  }
  section#people_section .thumbnail span {
    font-size: 14px;
    line-height: 1.5em;
  }

  section#people_section .thumbnail .details {
    font-size: 14px;
    line-height: 1.5em;
  }
  
  section#list {
    font-size: 14px;
  }
  section#list table {
    width: 100%;
  }
  section#list table thead tr th {
    background: #2c3e50;
    color: #ccc;
    padding: 0 0 10px;
    text-align: left;
  }
  section#list table td {
    padding: 5px 0;
  }
  section#list table tr:nth-child(odd) {
    background: #ededed;
  }
  section#list .pic {
    border-radius: 50%;
    overflow: hidden;
    width: 40px;
    height: 40px;
    margin: 0 auto;
  }
  section#list .pic img {
    width: 40px;
  }
  
  @media (max-width: 730px) {
    header {
      overflow: auto;
      padding: 10px;
    }
    header h1 {
      text-align: center;
      line-height: 30px;
    }
    header button {
      margin-top: 0;
    }
    header input {
      margin: 10px auto 0;
      float: none;
      width: 100%;
    }
  }
  .ppl-text {
    font-size: 8pt;
    border: 1px solid black;
    border-radius: 3px;
    width: 100%;
    padding: 5px;
    height: 160px;
    text-align: left;
  }
  
  @media (max-width: 599px) {
    section .thumbnail {
      width: 200px;
    }
    section .thumbnail .pic {
      height: 180px;
    }
    section .thumbnail .pic img {
      width: 180px;
    }
  }
  @media (max-width: 464px) {
    header button {
      padding: 5px 10px 3px;
      font-size: 12px;
    }
  
    section .thumbnail {
      width: 300px;
    }
    section .thumbnail .pic {
      height: 280px;
    }
    section .thumbnail .pic img {
      width: 280px;
    }
  }
  